<div class="row">
    <div class="col-md-6">
        <form novalidate>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Svenska
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="term">Term</label>
                        <input type="text" name="input.sv.term" [(ngModel)]="input.sv.term" (ngModelChange)="build()" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="source">Källa</label>
                        <input type="text" name="input.sv.source" [(ngModel)]="input.sv.source" (ngModelChange)="build()" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="definition">Definition</label>
                        <textarea name="input.sv.definition" [(ngModel)]="input.sv.definition" (ngModelChange)="build()" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">Kommentar</label>
                        <input type="text" name="input.sv.comment" [(ngModel)]="input.sv.comment" (ngModelChange)="build()" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="panel panel-default" *ngFor="let lan of languages">
                <div class="panel-heading">
                    Engelska
                </div>
               <div class="panel-body">
                    <div class="form-group">
                        <label for="term">Term</label>
                        <input type="text" name="input.en.term" [(ngModel)]="input.en.term" (ngModelChange)="build()" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="source">Källa</label>
                        <input type="text" name="input.en.source" [(ngModel)]="input.en.source" (ngModelChange)="build()" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="definition">Defintion</label>
                        <textarea name="input.en.definition" [(ngModel)]="input.en.definition" (ngModelChange)="build()" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">Kommentar</label>
                        <input type="text" name="input.en.comment" [(ngModel)]="input.en.comment" (ngModelChange)="build()" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="panel panel-default" *ngFor="let link of links; let index = index">
                <div class="panel-heading">
                    Länk #{{ index + 1 }}
                    <span class="pull-right" (click)="deleteLink(link)" *ngIf="index > 0">X</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="term">Namn</label>
                        <input type="text" name="name" [(ngModel)]="link.name" (ngModelChange)="build()" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="domain">URL</label>
                        <input type="text" name="url" [(ngModel)]="link.url" (ngModelChange)="build()" class="form-control" />
                    </div>
                </div>
            </div>

            <button class="btn btn-sm btn-default" (click)="addLink()">Lägg till Länk</button>

        </form>
    </div>
    <div class="col-md-6">
        <pre>{{ yaml }}</pre>
        <button class="btn btn-primary btn-block" (click)="download($event)">Ladda ner</button>
    </div>
</div>