<h2>Om</h2>
<p>
    Denna webbplats är ett resultat av projektet Nationella riktlinjer BIM. Ambitionen från projektet har varit att skapa en begreppslista som kan överleva projektet. Begreppslistan har därför publicerats som ett öppet projekt under <a href="https://swe-nrb.gitlab.io/nrb-sbp-shopfront/">Smart built platform</a>.
</p>
<h3>Öppen begreppslista</h3>
<p>
    Med öppen avses att det är fritt fram att påverka/förbättra/kopiera/ladda ner hela eller delar av informationen. Du kan enkelt nå orginalfilen genom att klicka på <code>orginalfil</code> under respektive begrepp.
</p>
<p>
    För information om projektet, se <a href="https://gitlab.com/swe-nrb/sbp-begreppslista">https://gitlab.com/swe-nrb/sbp-begreppslista</a>.
</p>